<div class="collapsible-sidebar">
  <main>
    <h1>Main content</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus et non
      praesentium, sequi totam ullam velit! Itaque quidem suscipit
      voluptatem?</p>
    <p>Ab aperiam aut, consequatur corporis debitis deserunt dicta, dolor enim
      magni odit omnis quis quod sapiente ut vel velit, voluptate?</p>
    <p>Animi asperiores assumenda blanditiis consectetur doloribus esse facilis
      ipsa itaque laudantium nesciunt placeat quas sunt voluptas, voluptate
      voluptatibus. Quae, sint?</p>
    <p>Beatae debitis dolor eius eveniet exercitationem in nemo, quos reiciendis
      saepe temporibus totam ullam voluptatibus. Harum nisi praesentium quae
      similique.</p>
    <p>Architecto at beatae deserunt ducimus eum fugit illo, itaque neque
      provident quidem quos recusandae repellendus rerum sapiente sequi
      similique
      voluptatum!</p>
  </main>
  <aside>
    <h2>See also</h2>
    <ul>
      <li>Lorem ipsum dolor.</li>
      <li>Blanditiis, dolorum, non.</li>
      <li>Dolore qui, rerum?</li>
      <li>Error, quae saepe?</li>
      <li>Doloremque, quibusdam soluta!</li>
      <li>Asperiores, ipsa minima.</li>
    </ul>
  </aside>
</div>
